Package: me.jjolano.alertdismiss
Name: AlertDismiss
Depends: mobilesubstrate, preferenceloader, firmware (>= 8.0)
Version: 1.02
Architecture: iphoneos-arm
Description: Add a Force Dismiss button to any UIAlertController.
Maintainer: jjolano
Author: jjolano
Section: Tweaks
